<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login</title>
	</head>
	<body>
		<p th:if="${isLoginError}" style="color:red" th:text="${errorMessage}"></p>
		<form action="#" th:action="@{/login}" th:object="${login}" method="post">
			<label for="email">Email:</label>
  			<input type="text" id="email" name="email" th:field="*{emailAddress}">
  			<br>
  			<label for="password">Password:</label>
  			<input type="text" id="password" name="password" th:field="*{password}">
  			<br>
  			<input type="submit" value="Submit" />
		</form>
	</body>
</html>